@charset "UTF-8";

:root {
    --primary-color: #0e0e0e;
    --font-color: white;
}

html {
    font-family: 'Muli', sans-serif;
    background-color: #fdf8db;
    color: var(--font-color);
}

.title-box {
    text-align: center;
    text-emphasis: bold;
}

.book-title {
    font-size: 400%;
}

.book-summary {
    padding: 0% 15%;
    font-size: large;
}

#wiki-ref {
    color: gray;
    opacity: 40%;
}

.book-author {
    transform: translate(0px, -20px)
}

.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0%;
    left: 50%;
    width: 39%;
    max-width: 200%;
    transform: translateX(-50%);
}

.zoom {
    padding-bottom: 55%;
    overflow: hidden;
}

.content {
    margin: 0 auto;
}

main {
    padding: 1% 0;
    position: relative;
    background-color: var(--primary-color);
}

.home {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--font-color);
    font-size: 133%;
    font-weight: bolder;
}
