/* Stylesheet for index.html */
:root { /*Sets the default color scheme for the page (a.k.a. Light Mode).*/
  --primary-color: white;
  --font-color: black;
  --link-hover-color: darkred;
}

[data-theme="dark"]{ /*Sets the color scheme for the data set titled "data-theme" and assigns this set the name 'dark'.*/
  --primary-color: #3b3b3b;
  --font-color: white;
  --link-hover-color: darksalmon;
}
body {
  font-family: Roboto Mono, monospace;
  text-align: left;
  background-color: var(--primary-color);
  color: var(--font-color);
  }
@media screen and (max-width: 480px) { /*Centers the text on all screens with a CSS width less than 480px. Used for mobile formatting.*/
  body {
      text-align: center;
  }
  }
a:link, a:visited { /*These lines style every element with the 'a' tag (HTML links) for the different states they may be seen in*/
      color: var(--font-color);
      text-decoration: none;
  }
a:hover{
      color: var(--link-hover-color);
      text-decoration: underline;
      font-size: 102%;
  }
a:active{
      color: firebrick;
      font-size: 98%;
  }
#fontsLogo{ /*Sizes the Google Fonts logo*/
      width: 200px;
      height: 100px;
      border: 0;
  }
#fontsLogo:hover{ /*Styles the Google Fonts logo for different states (since it acts as a link)*/
      width: 204px;
      height: 102px;
  }
#fontsLogo:active{
  width: 196px;
  height: 98px;
}
#githubHome:hover { /*Overwrites the styling above, removing the resizing on the GitHub Homepage link*/
  font-size: 100%;
}