/* Stylesheet for index.html */
body {
  font-family: Roboto Mono, monospace;
  text-align: left;
  background-color: #3b3b3b;
  color: white;
  }

/*@media handheld {
  body {
      text-align: center;
    }
  }*/
@media screen and (max-width: 400px) {
  body {
      text-align: center;
  }
  }
a:link, a:visited {
      color: white;
      text-decoration: none;
  }
a:hover{
      color: darksalmon;
      text-decoration: underline;
      font-size: 102%;
  }
a:active{
      color: firebrick;
      font-size: 98%;
  }
#fontsLogo{
      width: 200px;
      height: 100px;
      border: 0;
  }
#fontsLogo:hover{
      width: 204px;
      height: 102px;
  }
