/* Stylesheet for index.html */
:root {
  --primary-color: white;
  --font-color: black;
  --link-hover-color: darkred;
}

[data-theme="dark"]{
  --primary-color: #3b3b3b;
  --font-color: white;
  --link-hover-color: darksalmon;
}
body {
  font-family: Roboto Mono, monospace;
  text-align: left;
  background-color: var(--primary-color);
  color: var(--font-color);
  }
@media screen and (max-width: 480px) {
  body {
      text-align: center;
  }
  }
a:link, a:visited {
      color: var(--font-color);
      text-decoration: none;
  }
a:hover{
      color: var(--link-hover-color);
      text-decoration: underline;
      font-size: 102%;
  }
a:active{
      color: firebrick;
      font-size: 98%;
  }
#fontsLogo{
      width: 200px;
      height: 100px;
      border: 0;
  }
#fontsLogo:hover{
      width: 204px;
      height: 102px;
  }