@charset "UTF-8";
/* CSS Document */
:root {
	--primary-color: white;
	--secondary-color: #3b3b3b;
	--font-color: black;
	font-family: 'Poppins', sans-serif;
}

[data-theme="dark"]{
	--primary-color: #3b3b3b;
	--secondary-color: white;
	--font-color: white;
}
body{
	background-color: white;
}
.banner-outer{
	width: auto;
	height: 500px;
	overflow: hidden;
}
.banner {
	background-image: url("bannerPic.jpg");
	height: 500px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(4px);
}
.banner-text {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
	position: absolute;
	transform: translate(0px, -450px);
	text-shadow: 2px 2px 100px black;
}
.banner-arrow{
	transform: rotate(270deg) scale(2,3);
	text-shadow: 2px 2px 100px black;
}
.dropdown{
	display: flex;
	justify-content: center;
}
.dropbtn{
	cursor: pointer;
	text-align: center;
	font-size: 40px;
	background-color: transparent;
	border: none;
}