@charset "UTF-8";
/* CSS Document */
html{
	scroll-behavior: smooth;
}
:root {
	--primary-color: white;
	--secondary-color: #3b3b3b;
	--font-color: black;
	--background-color: #fff8ee;
	font-family: 'Poppins', sans-serif;
}

/*[data-theme="dark"]{
	--primary-color: #3b3b3b;
	--secondary-color: white;
	--font-color: white;
	--background-color: black;
}*/
body{
	background-color: var(--background-color);
}
.banner-outer{
	width: auto;
	height: 500px;
	overflow: hidden;
}
.banner {
	background-image: url("beauty.png");
	height: 500px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(4px);
}
.banner-text {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
	position: absolute;
	text-shadow: 2px 2px 75px black;
	transform: translate(0px,-480px);
}
.homeHeader{
	cursor: default;
}
.homeText{
	text-shadow: 2px 2px 20px black;
	cursor: default;
}
.nav-bar a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 140%;
	text-shadow: 1px 1px 25px black;
	padding: 20px;
	animation: scaleDown 0.5s;
}
.nav-bar a:hover{
	animation: scaleUp 0.5s;
	animation-fill-mode: forwards;
}
.body-text{
	padding: 0px 200px 60px;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 48px 12px;
  border-top: none;
	position: relative;
	text-align: center;
	font-size: 160%;
}

.tabcontent {
  animation: fadeIn 1s; /* Fading effect takes 1 second */
}
.grid-container{
	display: inline-grid;
	grid-gap: 130px 260px;
	grid-template-columns: auto auto;
}
.grid-link{
	height: 1px;
}
.grid-pic{
	overflow: hidden;
	width: 640px;
	height: 336px;
	filter: blur(8px);
	animation: gridSelectOut 0.5s;
}
.grid-name{
	color: white;
	font-weight: bold;
	font-size: 300%;
	text-shadow: 2px 2px 50px black;
	transform: translate(0px, -310px);
	width: 640px;
	animation: fadeIn 0.5s;
}
.grid-name-long{
	color: white;
	font-weight: bold;
	font-size: 300%;
	text-shadow: 2px 2px 50px black;
	transform: translate(0px,-360px);
	width: 640px;
	animation: fadeIn 0.5s;
}
.grid-item-apps{
	height: 336px;
	overflow: hidden;
}
.grid-item-apps a{
	text-decoration: none;
}
.grid-item-apps a:hover .grid-name{
	animation: fadeOut 0.5s;
	animation-fill-mode: forwards;
}
.grid-item-apps a:hover .grid-name-long{
	animation: fadeOut 0.5s;
	animation-fill-mode: forwards;
}
.grid-item-apps a:hover .grid-pic{
	animation: gridSelectIn 0.5s;
	animation-fill-mode: forwards;
}

/* Keyframes Section */

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes shadowFade {
	from {text-shadow: 0px 0px 0px black;}
	to {text-shadow: 2px 2px 25px black;}
}

@keyframes gridSelectIn {
	from{filter: blur(8px);}
	to {filter: blur(0px);}
}

@keyframes gridSelectOut {
	0% {filter: blur(0px);}
	100% {filter: blur(8px);}
}

@keyframes fadeOut{
	from{opacity: 1;}
	to{opacity: 0;}
}

@keyframes scaleUp{
	from {font-size: 140%}
	to {font-size: 150%}
}

@keyframes scaleDown{
	0% {font-size: 150%}
	100% {font-size: 140%}
}
@media (max-width : 1228px ){
	/*Move the dropdown to a menu bar*/
}

@media (max-width: 1590px){
	.grid-container{
	grid-template-columns: auto;
}
}
