@charset "UTF-8";
/* CSS Document */
:root {
	--primary-color: white;
	--secondary-color: #3b3b3b;
	--font-color: black;
	--background-color: #fff8ee;
	font-family: 'Poppins', sans-serif;
}

/*[data-theme="dark"]{
	--primary-color: #3b3b3b;
	--secondary-color: white;
	--font-color: white;
	--background-color: black;
}*/
body{
	background-color: var(--background-color);
}
.banner-outer{
	width: auto;
	height: 500px;
	overflow: hidden;
}
.banner {
	background-image: url("temp.png");
	height: 500px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(4px);
}
.banner-text {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	color: white;
	position: absolute;
	text-shadow: 2px 2px 75px black;
	transform: translate(0px,-480px);
}
.homeText{
	text-shadow: 2px 2px 20px black;
}
.dropdown{
	position: relative;
	display: flex;
	justify-content: center;
	padding: 10px;
}
.dropbtn{
	cursor: pointer;
	text-align: center;
	font-size: 40px;
	background-color: transparent;
	border: none;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 50px black;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  background-color: var(--primary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: var(--font-color);
}
.dropdown-content{
	animation: fadeEffect 0.33s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	animation: shadowFade .6s;
}
@keyframes shadowFade {
	from {text-shadow: 0px 0px 0px black;}
	to {text-shadow: 2px 2px 25px black;}
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.body-text{
	padding: 0px 200px;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 24px 12px;
  border-top: none;
	position: relative;
	text-align: center;
	font-size: 160%;
	transform: translate(0px,-40px);
}

.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@media (max-width: 820px){
	/*Move the dropdown to a menu bar*/
}